body{
	background: #aaaaaa;
}

.ba-container{
	width: 800px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 150px auto ;
}

.ba-editor{
	font-size: 18px;
	color: #222222;
	width: 100%;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 20px;
	background: #fff;
}

.ba-textarea{
	text-align: center;
	font-size: 18px;
	color: #222222;
	width: 100%;
	border: 2px solid #000000;
	border-radius: 20px;
	background: #fff;
}